{{define "pre-end-body"}}
	{{/* Add custom fonts, etc. */}}
{{end}}

{{define "footer"}}
<footer>
	<a href="https://read.as"><img src="/img/readas.svg" alt="read.as" /></a>
	<a href="https://github.com/writeas/Read.as">Source code</a>
</footer>
{{end}}
