{{define "header"}}
<header>
	<h1><a href="/"><img src="/img/readas.svg" alt="read.as" /></a></h1>
</header>
{{end}}

{{define "pre-end-body"}}
	{{/* Add custom fonts, etc. */}}
{{end}}

{{define "footer"}}
<footer>
	<a href="https://read.as" target="read"><img src="/img/readas.svg" alt="read.as" /></a>
	<a href="https://github.com/writeas/Read.as" target="source">Source code</a>
	<span>v{{.Version}}</span>
	{{if .User}}<a href="/logout">Log out</a>{{end}}
</footer>
{{end}}

{{define "article"}}
<article>
	{{if .Name}}
		<h1><a href="/p/{{.ID}}">{{.Name}}</a></h1>
		<p class="author">by <a href="{{.Owner.URL}}">{{.Owner.Name}}</a> <span class="handle">@{{.Owner.PreferredUsername}}@{{.Owner.Host}}</span></p>
	{{else}}
		<h1><a href="/p/{{.ID}}">A post</a> by <a href="{{.Owner.URL}}">{{.Owner.Name}}</a></h1>
	{{end}}
	<div class="e-content preview">{{.SanitaryContent}}<div class="over">&nbsp;</div></div>
</article>
{{end}}
