{{define "index"}}<!DOCTYPE HTML>
	<html>
	<head>
		<meta charset="utf-8">
		<title>Read.as</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
	<body {{if not .User}}id="nouser"{{end}}>
		<header>
			<h1><img src="/img/readas.svg" alt="read.as" /></h1>
		</header>
		<div id="wrapper">
			<div id="content">
				{{if not .User}}
					{{if .Flash}}<p class="errors">{{.Flash}}</p>{{end}}

					<form action="/api/auth/login" method="post">
						<input type="text" name="username" placeholder="Username" value="{{.Username}}" {{if not .Username}}autofocus{{end}} /><br />
						<input type="password" name="password" placeholder="Password" {{if .Username}}autofocus{{end}} /><br />
						{{if .To}}<input type="hidden" name="to" value="{{.To}}" />{{end}}
						<input type="submit" id="btn-login" value="Login" />
					</form>
				{{else}}
					{{if gt (len .Posts) 0}}
						<div id="feed">
						{{range .Posts}}<article>
							{{if .Name}}
								<h1><a href="/p/{{.ID}}">{{.Name}}</a></h1>
								<p class="author">by <a href="{{.Owner.URL}}">{{.Owner.Name}}</a></p>
							{{else}}
								<h1><a href="/p/{{.ID}}">A post</a> by <a href="{{.Owner.URL}}">{{.Owner.Name}}</a></h1>
							{{end}}
							<div class="e-content preview">{{.SanitaryContent}}<div class="over">&nbsp;</div></div>
						</article>{{end}}
						</div>
					{{else}}
						<p>No posts here yet! Follow someone: <code>/api/follow?user=blog@write.as</code></p>
					{{end}}
				{{end}}
			</div>
			{{template "footer" .}}
		</div>
		{{template "pre-end-body" .}}
	</body>
</html>
{{end}}
